<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Road Crack & Pothole Detection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .left, .right {
            width: 45%;
            float: left;
            margin: 10px;
        }
    </style>
</head>
<body style="background-color: antiquewhite;">

    <div class="container mt-5">
        <h1 class="text-center mb-5 fw-bold">Road Crack & Pothole Detection Using Image Analysis</h1>
        <p class="text-center ">Mini Project for MCA 1st Year 2nd Semester, Osmania University. Go to Project homepage <a href = "/">here</a></p>
        <p class="text-center">Team Members:</p>
        <ul class="list-group text-center">            
            <li class="list-group-item">M. Anvita</li>
            <li class="list-group-item">M. Akshay</li>
            <li class="list-group-item">K. Sri Teja</li>
        </ul>
    </div>
    <div class="container mt-5">
        <p class="text-center">This project implements a basic road crack and pothole detection system using image analysis. The system uses OpenCV and SciPy libraries to detect cracks and potholes in the images. The system is trained on a dataset of images of roads to detect cracks and potholes.
       The system is designed to detect cracks and potholes in images of roads and provide the coordinates of the detected cracks and potholes. The system can be used to detect cracks and potholes in real-time images of roads.
        The project uses the following steps to detect cracks and potholes:</p>
        <div class="row">
            <div class="left">
                <img src="../static/img1.jpg" class="img-fluid" style="border-radius: 8px; max-height: 500px;">
                <p>Original Image</p>
            </div>
            <div class="right">
                <img src="../static/img1_processed.jpg" class="img-fluid" style="border-radius: 8px; max-height: 500px;">
                <p>Processed Image</p>
            </div>
        </div>
        <ul class="list-group mt-5">
            <li class="list-group-item">Read the image of the road.</li>
            <li class="list-group-item">Convert the image to grayscale.</li>
            <li class="list-group-item">Apply a threshold to the image to segment the cracks and potholes from the rest of the image.</li>
            <li class="list-group-item">Apply a morphological operation to the image to fill in any small gaps in the cracks and potholes.</li>
            <li class="list-group-item">Label the regions in the image.</li>
            <li class="list-group-item">Calculate the area of each region and filter out regions that are too small.</li>
            <li class="list-group-item">Calculate the coordinates of the detected cracks and potholes.</li>
        </ul>
    </div>

</body>
</html>

